* {box-sizing: border-box;}

.row {background-color: azure;color: rgba(0,0,0,0.9);
      box-shadow: 0px 0px 3px black;    
      padding: 1%;    
    }


.span_highlight {margin-left: 1%; background-color: lightyellow; color: orangered; padding: 1%;}



.button_pokemon {background-color: cornflowerblue; color: white;
                 border: solid lightyellow thin;
                 box-shadow: 0px 0px 3px deepskyblue;       
                 width: 50%;
                 height: 50px;
                 border-radius: 15px;
                 margin-top: 1%;
                 font-size: 1em;   
                 cursor: pointer;
                }
#div_loading {display: none;
                border: solid red thin; text-align: center;}
#div_loading p {color: skyblue;}
#img_loading {width: 50px;}
ul {list-style: none; }



@media screen and (max-width: 932px){
    ul {width: 90%; margin-left: 5%;}
    .button_pokemon{width: 100%;}
    
}