* {box-sizing: border-box;}

.row {background-color: azure;color: rgba(0,0,0,0.9);
      box-shadow: 0px 0px 3px black;    
      padding: 1%;    
    }


.span_highlight {margin-left: 1%; background-color: lightyellow; color: orangered; padding: 1%;}